<div class="container mx-auto mt-8">
  <div class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="mb-4">
    <h1 class="text-3xl">Platforms</h1>
    <div class="flex justify-end">
      <button class="px-4 py-2 rounded-md bg-sky-500 text-sky-100 hover:bg-sky-600" (click)="add()">Create
        Platform
      </button>
    </div>
  </div>
  <div class="overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
      <table class="min-w-full">
        <thead>
        <tr>
          <th
            class="px-6 py-3 text-xs font-medium text-left text-gray-500 border-b border-gray-200 bg-gray-50">
            #
          </th>
          <th
            class="px-6 py-3 text-xs font-medium text-left text-gray-500 border-b border-gray-200 bg-gray-50">
            Platform
          </th>
          <th
            class="px-6 py-3 text-xs font-medium text-left text-gray-500 border-b border-gray-200 bg-gray-50">
            CreatedAt
          </th>
          <th class="px-6 py-3 text-xs text-center text-gray-500 border-b border-gray-200 bg-gray-50">
            &nbsp;
          </th>
        </tr>
        </thead>

        <tbody class="bg-white">
        <tr *ngFor="let platform of platforms">
          <td class="px-6 py-4 border-b border-gray-200">
            <div class="flex items-center">
              {{ platform.id }}
            </div>

          </td>
          <td class="px-6 py-4 border-b border-gray-200">
            <div class="text-sm text-gray-900">{{ platform.name }}
            </div>
          </td>
          <td class="px-6 py-4 border-b border-gray-200">
            <div class="text-sm text-gray-900">{{ platform.createdAt | date: 'dd/MM/yyyy' }}
            </div>
          </td>

          <td class="text-sm font-medium border-b border-gray-200">
            <div class="flex justify-end gap-4">
              <a (click)="edit(platform.id)" class="text-indigo-600 hover:text-indigo-900 cursor-pointer">
                <svg class="w-6 h-6 text-gray-800 dark:text-nord10" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                </svg>
              </a>
              <a (click)="delete(platform.id)" class="mr-0 md:mr-4  cursor-pointer">
                <svg class="w-6 h-6 text-gray-800 dark:text-nord11" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                </svg>
              </a>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
