<div class="mt-6 space-y-12 font-Mulish">
  <div class="max-w-2xl mx-auto py-5 px-4 sm:px-6">
    <h2 *ngIf="isAdd" class="font-RobotoSlab text-5xl font-extrabold tracking-tight dark:text-nord9">
      Create Game
    </h2>
    <h2 *ngIf="isEdit" class="font-RobotoSlab text-5xl font-extrabold tracking-tight dark:text-nord9">
      Edit Game
    </h2>
    <div class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
         *ngIf="isSubmitted && errorMessage">
      {{ errorMessage }}
    </div>
    <form class="pt-8" (ngSubmit)="onSubmit()" #gameForm="ngForm">
      <div class="mb-3">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
        <input type="text" id="name" name="name"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Write here the title of the game" required [(ngModel)]="game.name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="text-red-500 mt-2">Name is required</div>
      </div>
      <div class="mb-3">
        <label for="publisher" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Publisher</label>
        <input type="text" id="publisher" name="publisher"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Publisher" required [(ngModel)]="game.publisher" #publisher="ngModel">
        <div [hidden]="publisher.valid || publisher.pristine" class="text-red-500 mt-2">Publisher is required</div>
      </div>
      <div class="mb-3">
        <label for="platform" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Platform</label>
        <select id="platform" name="platform"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block sm:w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option [ngValue]="0" disabled selected>Choose a platform</option>
          <option *ngFor="let platform of platforms" [ngValue]="platform.id">{{ platform.name }}</option>
        </select>
      </div>
      <div class="mb-6">
        <input type="hidden" id="createdAt" name="createdAt"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
               placeholder="createdAt" [(ngModel)]="game.createdAt">
      </div>

      <button type="submit" *ngIf="isAdd" [disabled]="!gameForm.form.valid || isSubmitted"
              class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-nord8 to-nord10 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                  <span
                    class="px-5 py-2.5"
                  >
            Add
          </span>
      </button>
      <button type="submit" *ngIf="isEdit" [disabled]="!gameForm.form.valid || isSubmitted"
              class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-nord8 to-nord10 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                  <span
                    class="px-5 py-2.5"
                  >
            Save
          </span>
      </button>
    </form>
  </div>
</div>
