<nav>
  <div class="bg-nord6 border-gray-200 dark:bg-nord0" xmlns="http://www.w3.org/1999/html">
    <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4"
    >
      <a
        class="flex items-center space-x-3 rtl:space-x-reverse"
        routerLink="/"
        routerLinkActive="active"
      >
        <span
          class="font-Millenia self-center text-3xl font-semibold whitespace-nowrap dark:text-nord7"
        >Loopers Nest</span
        >
      </a>
      <div class="flex border-nord11 border-2">
        <div class="flex space-x-3 justify-between" *ngIf="isAuthenticated(); else LoggedOut">
          <app-user-info></app-user-info>
          <app-logout-button></app-logout-button>
        </div>
        <ng-template #LoggedOut>
          <div class="flex space-x-3 justify-between ">
            <app-login-button></app-login-button>
            <app-sign-up-button></app-sign-up-button>
          </div>
        </ng-template>
      </div>

    </div>
  </div>
  <div class="bg-nord6 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
      <div class="flex items-center">
        <ul
          class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm"
        >
          <li>
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              aria-current="page"
              class="text-gray-900 dark:text-nord6 dark:hover:text-nord9"
              routerLink="/"
              routerLinkActive="active"
            >Home</a
            >
          </li>
          <div *ngIf="isAuthenticated()">
            <li>
              <a
                [routerLinkActiveOptions]="{ exact: true }"
                aria-current="page"
                class="text-gray-900 dark:text-nord6 dark:hover:text-nord9"
                routerLink="/reviews"
                routerLinkActive="active"
              >Reviews</a
              >
            </li>
          </div>
          <div *ngIf="isAuthenticated()">
            <li>
              <a
                [routerLinkActiveOptions]="{ exact: true }"
                aria-current="page"
                class="text-gray-900 dark:text-nord6 dark:hover:text-nord9"
                routerLink="/walkthroughs"
                routerLinkActive="active"
              >Walkthroughs</a
              >
            </li>
          </div>
          <div *ngIf="isWriter()">
            <li>
              <a
                [routerLinkActiveOptions]="{ exact: true }"
                aria-current="page"
                class="text-gray-900 dark:text-nord6 dark:hover:text-nord9"
                routerLink="/writer/content"
                routerLinkActive="active"
              >My content</a
              >
            </li>
          </div>
          <div *ngIf="isAdmin()">
            <li>
              <app-admin-dropdown></app-admin-dropdown>
            </li>
          </div>
          <li>
            <app-light-dark></app-light-dark>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
